<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hyper test</title>
  <style>
    body{
      font-family: sans-serif;
      font-size: 1rem;
      line-height: 1.75rem;
    }
    h1{
      color: red;
    }
    p{
      color:#333;
    }
  </style>
</head>
<body>
<h1>Rust web server with Hyper</h1>
<p>
This is basic demo of hyper web server.<br/>
Try <a href="/json">JSON</a> route to see sample of JSON response.
</p>
</body>
</html>